html{
    background: black;
}

hr{
    color: #65C850;
}

#signup-form{
    margin-left: 200px;
    margin-right: 200px;
    background: black;
    color: #65C850;
}
  
#signup-background{
    background: black;
    height: 100%;
}